<link href="/style.css" rel="stylesheet" type="text/css">

<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

<!-- Include the jQuery library -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include the jQuery Mobile library -->
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


   <div data-role="page" >
      <div data-role="header" data-theme="f">
         <h1>Spectrophotomètre, par Astrolabb</h1>
      </div>
      <div data-role="content">
        <div style="text-align:center">
    <img src='/logo.png' style='max-width:20%; max-height:20%;' />
		</div>
		<p>Ce spectrophotomètre à LED a été mis au point pour apporter une solution à bas coût pour des analyses qualitatives. Ce travail a été réalisé en live sur twitch : https://www.twitch.tv/astrolab</p> en septembre 2017.
			<ul data-role="listview" data-inset="true">
			   <li><a data-transition="slide" data-role="button" data-theme="b" href="" onclick="location.href='./accueil2'">Lancer le programme</a></li>
			</ul>
		<p>
		Remerciements : ZhOnd, Alnoa, Syanoks, bloot87, enya_tv, NeiKroz, Rihanna7Fenty, Molapolba
		</p>
      </div>
		  <footer data-role="footer" role="contentinfo">
		  <div style="text-align:center">
		  <img src='/open.png' style='max-width:100%; max-height:100%;' />
		  <img src='./open2.png' style='max-width:100%; max-height:100%;' />
			</div>
	  </footer> 
   </div>
